@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


$main-font: "Montserrat" ,sans-serif;
$second-font:"Oswald", sans-serif;
$main-background:#393939;
$text-color:#fff;
$red:rgb(218, 7, 7);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    text-decoration:none;
}
html {
    ::-webkit-scrollbar {
        width:10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
}

// Navbar
.navbar{
    font-family: $main-font;
    display:flex;
    flex-direction: column;
    height:8rem;
    background-color:$main-background;
        .logo{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            height:70%;
            border-bottom:0.01rem solid rgba(255, 255, 255, 0.425);
            .image-link{
                width:37%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                animation:logo 2s ease-in-out;

            @keyframes logo {
                0%{
                    transform:translateY(-100%);
                }
                100%{
                    transform:translateY(0%);
                }
            }
                img{
                    width:100%;
                    height:100%;
                    object-fit:contain;
                    transition: height .6s ease-in-out;
                    &:hover{
                        height:110%;
                        
                    }
                }
            }
        }

        .navigation{
            display:flex;
            align-items:center;
            justify-content:center;
            width:100%;
            height:30%;
            
        }

        .nav-elem{
            color:$text-color;
            font-size:22px;
            margin:auto;
            height: 80%;
            font-weight: 600;
            display:flex;
            align-items:center;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease-in-out;
            &:hover{
                border-bottom:2px solid $red;
            }
        }
}
// End of Navbar

// Loading component

.loading-component{
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

// End of Loading component
// Home Page
.home-section {
    display:flex;
    justify-content:center;
    width:100%;
    min-height:85.5vh;
    height:100%;
    align-items:center;
    background:url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position:relative;
    
    &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.253);
    }
    .title{
        font-size:7rem;
        text-transform:uppercase;
        font-family: $second-font;
        font-weight: bold;
        position:relative;
        color:#fff;
    
        animation: slide-in 2s ease-in;
        @keyframes slide-in{
            0%{
                opacity:0;
                transform:translateY(-60%);
            }
            100%{
                opacity:1;
                transform:translateY(0%);
            }
        }
        &::before{
            content: attr(data-text);
            position:absolute;
            background:$red;
            color:transparent;
            -webkit-background-clip: text;
            background-size: 100% 90%;
            line-height: 0.9;
            transform:translateY(50%);
            bottom:50%;
            clip-path: ellipse(120px 120px at -2.54% -9.25%);
            animation: swingText 6s infinite alternate ;
           
           
        }
        
        @keyframes swingText {
            0%{
                -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
                clip-path: ellipse(120px 120px at -2.54% -9.25%);
            }
            50%{
                -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
                clip-path: ellipse(120px 120px at 49.66% 64.36%);
            
              }
              100%{
                -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
               clip-path: ellipse(120px 120px at 102.62% -1.61%);
             }
        }
    }
}


// End of Home Page




// Characters page
.characters{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: $main-font;
    overflow-x:hidden;
    animation:appearance 4s linear;
    @keyframes appearance {
        0%{
            opacity:0;
        }
        50%{
            opacity:0.7;
        }
        100%{
            opacity:1;
        }
    }
    .title{
        margin:20px auto;
        font-family:$second-font;
        font-size:30px;
    }
    .usage{
        width:100%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        .clear{
            width:auto;
            height:50px;
            margin-right:40px;
            font-family:$main-font;
            font-size:17px;
            font-weight: 600;
            background:$red;
            color:white;
            border:1px solid black;
            border-radius:9px;
            cursor:pointer;
            transition:all .3s ease-in;
            &:hover{
                background:#393939;
                
            }
        }
        form{
            width:100%;
            margin:30px 0px 30px 60px;
            
            input{
                width:25%;
                padding:2px 4px;
                border:none;
                border-bottom:2px solid black;
                outline:none;
                font-family: $main-font;
                font-size:19px;
                transition:all .2s ease-in;
                &:focus{
                    border-bottom:2px solid $red;
                }
            }
            
            button{
                border:none;
                color:white;
                background:$red;
                font-size:19px;
                cursor: pointer;
                padding:5px 15px; 
                margin-left:15px;
                transition:all .3s ease-in-out;
                &:hover{
                    background:rgb(46, 51, 51);
                }
            }
        }
    }
    
  .character-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
 
    .character{
        width: 300px;
        height:50vh;
        background:black;
        margin:20px;
        border-radius:10px;
        font-family:$main-font;
        position:relative;
        overflow:hidden;
        box-shadow: 1px 1px 15px 0px rgb(0 0 0 / 74%);
        .bar{
            width: 100%;
            height:2%;
            background: $red;
            position:absolute;
            top:70%;
            transition:all .3s ease-in-out;
            display:block;
        }
        &:hover{
            .bar{
                height: 30%;
                border-radius:0px 0px 10px 10px;
            }
           .image{
              
               img{
                   transform:scale(1.1);
                   
               }
           }
        }        
     .info{
         display:flex;
         justify-content:center;
         align-items:center;
         width:100%;
         height:30%;
        background:transparent;
        
        .name{
            color:#fff;
            z-index: 10;
            text-align:center;
            padding:5px;
        }
     }
        .image{
            width:100%;
            height:70%;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
                
                transition:transform .3s ease-in-out;
                
            }
        }
    }
  }
}
//  End of Characters page
// Character Details page
.container-details{
    width:100%;
    height:100%;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:#292828;
    border-top:1px solid rgba(255, 255, 255, 0.664);
    color:white;
    overflow:hidden;
     h1{
        margin-bottom:30px;
        font-family:$second-font;
        font-size:35px;
        text-shadow:1px 1px 1px #fff;
        animation: titleAppear 1s ease-in-out forwards;
        @media (max-width:680px){
            font-size:28px;
        }
      
        @keyframes titleAppear{
            0%{
                opacity:0;
                transform:translateY(-100%);
                
                        
            }
            100%{
                opacity:1;
                transform:translateY(0%);
                
            }
        }
        
     }
     .main{
        width:100%;
        height:100%;
        .info{
            display:flex;
            width:100%;
            height:630px;
            justify-content:space-evenly;
            opacity:0;
            animation:characterDetails 3s ease-in-out forwards;
           
            @media (max-width:680px){
                flex-direction:column;
                align-items:center;
                justify-content:center;
            }
              .image{
                   width:40%;
                   min-height:400px;
                   filter:drop-shadow(1px 1px 8px #000);
                   @media (max-width:680px){
                       min-height: 250px;
                       width: 100%;
                }
                   img{
                       width:100%;
                       height:100%;
                       object-fit: contain;
                    
                   }
              }
              .description{
                  width:60%;
                  min-height:400px;
                  padding:20px;
                  display:flex; 
                  align-items: center;
                  justify-content: center;
                  @media (max-width:680px){
                       width:100%;
                }
                  p{
                      font-family: $main-font;
                      font-size:22px;
                      letter-spacing: 2px;
                      @media (max-width:680px){
                       font-size:18px;
                    }
                  }
              }
        }
     }
     .moreDetails{
         width:100%;
         display:flex;
         align-items: center;
         flex-direction: column;
         background-color:rgba(0, 0, 0, 0.459);
         padding:15px;
         border-radius:6px;
         animation:moreDetails 2s ease-in-out forwards;
         transform:translateY(150%);
         h5{
             font-family: $second-font;
             font-size:17px;
             margin-bottom:10px;
         }
         .links{
             width: 100%;
             display:flex;
             justify-content:space-evenly;
             a{
                 color:white;
                 text-transform: uppercase;
                 transition: all .2s ease-in-out;
                 font-family: $second-font;
                 &:hover{
                     color:$red;
                 }
             }
         }
     }
}
@keyframes moreDetails{
    0%{
        transform:translateY(150%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}
@keyframes characterDetails{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
// End of Character Details page

// Comics Page
.comics-section{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    min-height: 90vh;
    animation: comicList 4s linear;
    @keyframes comicList{
        0%{
            opacity:0;
        }
        50%{
            opacity:0.7;
        }
        100%{
            opacity:1;
        }
    }
    .title{
        margin:30px auto;
        font-family: $second-font;
        font-size:35px;
    }

    .comics-list{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
       
        .comic-card{
            position:relative;
            margin:50px;
            width:40%;
            height:80vh;
            border:1px solid rgba(0, 0, 0, 0.685);
            border-radius:10px;
            padding:20px;
            overflow:hidden;
            box-shadow: 0px 0px 14px rgba(0,0,0,0.24);
            &:hover{
                .info{
                    opacity:1;
                    transform:translateY(0%);
                }
            }
            .img{
                width:100%;
                height:100%;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: contain;
            
                }
            }
            .info{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color:#393939ad;
                display:flex;
                align-items:center;
                flex-direction:column;
                justify-content:center;
                padding:10px;
                text-align: center;
                opacity:0;
                transform:translateY(-100%);
                transition:all .8s ease-in-out;

                h1{
                    color:white;
                    font-size:25px;
                    font-family: $second-font;
                }
                .details{
                    font-family: $main-font;
                    font-weight: 500;
                    color:white;
                    background:$red;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    width:100px;
                    height:40px;
                    border:1px solid #000;
                    border-radius:8px;
                    margin-top:10px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background:#393939;
                        border:1px solid white;

                    }
                }
            }
        }
    }
}
// End of Comics Page
// Comic details Page
.comic-details-container{
    width:100%;
    height:100%;
    min-height:100vh;
    background-color:rgb(43, 43, 43);
    border-top:1px solid rgba(255, 255, 255, 0.548);
    color:white;

    .details-container{
        display:flex;
        align-items:center;
        flex-direction:column;
        h1{
            font-family:$second-font;
            font-size:30px;
            margin:30px auto;
            width:100%;
            text-align:center;
        }
        .info{
            display:flex;
            margin-top:50px;
            align-items: center;
            justify-content:center;
            .text{
                width:60%;
                height:450px;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:20px;
                font-size:21px;
                letter-spacing: 2px;
            }
            .container-image{
                width:40%;
                min-width:300px;
                height:550px;
                display:flex;
                flex-direction:column;
                align-items:center;
                border:2px solid #fff;
                margin:10px;
                padding:10px;
                border-radius:10px;
                
                    img{
                        width:100%;
                        height:90%;
                        object-fit:contain;
                    }
                    .price{
                        margin:10px;
                        font-size:20px;
                        background-color:white;
                        border-radius:10px;
                        font-weight: 700;
                        color:black;
                        text-align: center;
                        width:120px;
                        padding:5px;
                    }
                }
        }
        .characters{
            display:flex;
            width:95%;
            
            padding:15px;
            border-radius:10px;
            h3{
                margin-bottom:10px;
            }
            .characters-list{
                width:100%;
                display:flex;
                flex-wrap:wrap;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            p{
                margin:5px 10px;
            }
            }
        }
        .urls{
            width:100%;
            padding:15px;
            display:flex;
            align-items:center;
            justify-content:space-evenly;
            margin-top:40px;
            background-color:#292828;
            .url{
                text-transform: uppercase;
                color:white;
                font-family:$second-font;
                transition:all .2s ease-in-out;
                    &:hover{
                        color:$red;
                    }
            }
        }
    }
}


// End of Comic details Page

// Series Page
.series-section{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    min-height:90vh;
    height:100%;
    h1{
        font-family:$second-font;
        font-size:35px;
        margin:30px auto;
    }
    .series-list{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
      
        .series-card{
            min-width:300px;
            width:40%;
            height:500px;
            margin:20px;
            border:2px solid black;
            position:relative;
            border-radius:6px;
            overflow:hidden;
            box-shadow:1px 1px 10px rgba(0,0,0,0.6);
            &::before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color:#29282893;
                opacity:0;
                transition: all .3s ease-in;
            }
            &:hover{
                &::before{
                    opacity:1;
                }
                .series-title{
                    opacity:1;
                }
            }
            .series-title{
                font-family: $second-font;
                position:absolute;
                margin:auto;
                top:50%;
                left:50%;
                opacity:0;
                color:white;
                z-index:10;
                font-size:23px;
               transform:translate(-50%,-50%);
               width:100%;
               text-align: center;
               transition: all .3s ease-in;
            }
            .image{
                width:100%;
                height:100%;
                display:flex;
                align-items:center;
                justify-content:center;
                img{
                    width:90%;
                    height:90%;
                    object-fit:contain;
                }
            }
        }
    }
}
// End of Series Page